<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="fork_mast_height" value="0.30"/>
  <xacro:property name="camera_body_height" value="0.02618326313677244"/>
  <xacro:property name="camera_mesh_top_z" value="0.0003526478249114007"/>
  <xacro:property name="camera_mount_x" value="0.025"/>
  <xacro:property name="camera_mount_y" value="0.0"/>
  <xacro:property name="camera_mount_z" value="${fork_mast_height / 2 - camera_mesh_top_z}"/>
  <xacro:property name="camera_pitch" value="0.0"/>
</robot>
