# 관제 PC의 ROS 2 Domain. map_server, warehouse_server, monitoring과 같아야 합니다.
SERVER_ROS_DOMAIN_ID=225
RMW_IMPLEMENTATION=rmw_fastrtps_cpp
FASTDDS_BUILTIN_TRANSPORTS=DEFAULT

MAP_SERVER_IMAGE=mentorpi-map-server:humble
MAP_DIRECTORY=./maps
MAP_YAML=/maps/map_0825.yaml
MAP_USE_SIM_TIME=false
