ORCHESTRATOR_API_HOST=0.0.0.0
ORCHESTRATOR_API_PORT=8083
ORCHESTRATOR_DB_PATH=/data/orchestrator.db
INVENTORY_URL=http://host.docker.internal:8081
FLEET_MANAGER_URL=http://host.docker.internal:8090
FLEET_BRIDGE_URL=http://host.docker.internal:8080
EVENT_RETRY_INTERVAL_SEC=2
